:root {
    --fs-h1-font-minimum-size: 3rem;
    --fs-h2-font-minimum-size: 1rem;
    --fs-span-font-minimum-size: 1.125rem;
    
    --ss-h1-font-minimum-size: 1.5rem;

    --ts-h1-font-minimum-size: 1.1rem;
    --ts-h2-font-minimum-size: .9375rem;
    --ts-p-font-minimum-size: 0.7rem;

    
    --frs-h1-font-minimum-size: 1.625rem;
    --frs-span-font-minimum-size: 0.875rem;
    --frs-item-minimum-size: 3.125rem;
    --frs-item-description-minimum-size: .75rem;
    --frs-item-image-minimum-sizeW: 1.125rem;
    --frs-item-image-minimum-sizeH: .9375rem;

    --ffs-h1-font-minimum-size: 1.625rem;
    --ffs-span-font-minimum-size: .75rem;

    --sx-h2-font-minimum-size: 1.75rem;
    --sx-span-font-minimum-size: .8rem
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--text-default-color);
    font-family: var(--font-family-default);
    overflow-x: hidden;
}

a {
    color: var(--text-default-color);
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    grid-column-start: main-area-column;
    grid-row-start: navigation-area-row;
}

main {
    width: 100%;
    height: 100%;
    grid-row-start: main-area-row;
}


