:root {
    --default-screen-size: 1440px;
    --content-max-width: 1147px;
    --app-padding-top: 36px;
    --app-container-padding-start-row: 125px;
    --app-container-padding-side: 55px;
}

#app {
    display: grid;
    overflow-x: hidden;
    min-width: 100vw;
    min-height: 100vh;
    
    padding-top: var(--app-padding-top);
    column-gap: 0;
    row-gap: 0;
    margin: 0 auto;
    grid-auto-columns: 1fr;

    grid-template-rows: 
    [navigation-area-row] auto
    [padding-start-row] minmax(0, var(--app-container-padding-start-row)) 
    [main-area-row] auto
    [footer-area-row] auto; 
}

.content-grid {
    display: grid;
    justify-content: center;
    grid-template-columns:
    [full-width-start-column] minmax(0, var(--app-container-padding-side))
    [padding-start-column] minmax(0, 1fr)
    [main-area-column] min(100% - var(--app-container-padding-side) * 2, var(--content-max-width))
    [main-area-final-column] minmax(0, 1fr)
    [padding-final-column] minmax(0, var(--app-container-padding-side))
    [full-width-final-column];
}

.main-area {
    grid-column: main-area-column / main-area-final-column;
}

.full-width {
    grid-column-start: full-width-start-column;
    grid-column-end: full-width-final-column;
} 

@media screen and (max-width: 1280px) {
    :root {
        --content-max-width: calc(1147px - (var(--default-screen-size) - 1280px));
    }
}
@media screen and (min-width: 1536px) {
    :root {
        --content-max-width: calc(1147px + (1536px - var(--default-screen-size)));
    }
}
@media screen and (min-width: 1800px) {
    :root {
        --content-max-width: calc(1147px + (1800px - var(--default-screen-size)));
    }
}