:root {
    --content-max-width: 
        calc(100vw - (2 * var(--app-container-padding-side)));
    --content-max-width-limited:
        min(var(--content-max-width), 1585px);

    --app-padding-top: 2.25rem;
    --app-container-padding-start-row: 7.8125rem;
    --app-container-padding-side: 
        min(3.4375rem, 3.819vw);

    --section-container-max-width: 
        calc(100vw - (2 * var(--app-container-padding-side) + var(--section-container-padding-side)));
    --section-container-max-width-limited:
        min(var(--section-container-max-width), 1400px);
    --section-container-padding-side: 
        min(5.8125rem, 6.458vw);

    --section-large-container-max-width:
        calc(100vw - (2 * var(--app-container-padding-side) + var(--section-large-container-padding-side)));
    --section-large-container-max-width:
        min(var(--section-large-container-max-width), 1423px);
    --section-large-container-padding-side: 
        min(5.0625rem, 5.625vw);

    --footer-container-max-width:
        calc(100vw - (2 * var(--app-container-padding-side) + var(--footer-container-padding-side)));
    --footer-container-max-width-limited: 
        min(var(--footer-container-max-width), 1454px);
    --footer-container-padding-side: 
        min(3.375rem, 3.75vw);
}

#app {
    display: grid;
    overflow-x: hidden;
    min-width: 100vw;
    min-height: 100vh;
    
    padding-top: var(--app-padding-top);

    justify-content: space-between;
    column-gap: 0;
    row-gap: 0;
    margin: 0 auto;

    grid-template-columns:
    [padding-start-column] var(--app-container-padding-side)
    [main-area-column] var(--content-max-width-limited)
    [padding-final-column] minmax(0, var(--app-container-padding-side)) ;

    grid-template-rows: 
    [navigation-area-row] auto
    [padding-start-row] minmax(0, var(--app-container-padding-start-row)) 
    [main-area-row] auto
    [footer-area-row] auto; 
}

.section-grid {
    display: grid;

    grid-template-columns: 
    [section-padding-start-column] minmax(0, var(--section-container-padding-side))
    [section-area-column] minmax(0, var(--section-container-max-width-limited))
    [section-padding-end-column] minmax(0, var(--section-container-padding-side));

    grid-template-rows:
    [section-area-row] auto;
}

.section-grid-xl {
    display: grid;

    grid-template-columns: 
    [section-padding-start-column] minmax(0, var(--section-large-container-padding-side))
    [section-area-column] minmax(0, var(--section-container-max-width-limited))
    [section-padding-end-column] minmax(0, var(--section-large-container-padding-side));

    grid-template-rows:
    [section-area-row] auto;
}
.footer-grid {
    display: grid;

    grid-template-columns: 
    [footer-padding-start-column] minmax(0, var(--footer-container-padding-side))
    [footer-area-column] minmax(0, var(--footer-container-max-width-limited))
    [section-padding-end-column] minmax(0, var(--footer-container-padding-side));

    grid-template-rows:
    [footer-area-row] auto
    [footer-copyright-row] auto;
}


.grid-center {
    grid-column-start: section-area-column;
    grid-row-start: section-area-row;
}