.absolute {
    position: absolute;
    right: -180px;
    top: -203px;
    pointer-events: none;
    z-index: -1;
}
/* ---------------------------- */
.home section.first-section {
    position: relative;
    padding-bottom: 11.25rem;
}
.home section .section-left {
    align-items: start;
    gap: 3.125rem;
}
.home section .section-left .section-text {
    width: 46.0664%;
    gap: 1.625rem;
}
.section-text .section-title {
    line-height: 155.2%;
    gap: 1.063rem;
}
.home section .section-left h1 {
    width: 76.8501%;
    font-size: 
        max(var(--fs-h1-font-minimum-size), min(3.472vw, 70px));
    line-height: 155.2%;
}
.home section .section-left h2 {
    font-size: 
        max(var(--fs-h2-font-minimum-size), min(1.389vw, 40px));
    color: var(--text-secondary-color);
    -webkit-text-stroke: 1px black;
}
.home section .section-left span {
    width: 100%;
    font-weight: 500;
    font-size: 
        max(var(--fs-span-font-minimum-size), min(1.111vw, 36px));
    line-height: 200%;
}

/* ---------------------------- */
.home section.second-section {
    font-family: var(--font-family-secondary);
    grid-column-start: main-area-column;
    grid-row-start: main-area-row;
    padding-bottom: 8rem;
}
.home section.second-section .section-center {
    gap: 3.563rem;
}
#currently-tg-title {
    font-size: max(var(--ss-h1-font-minimum-size), min(1.938rem, 2.153vw));
    line-height: 187.5%;
}

/* -------------------------------- */
.home section.third-section {
    height: max(86.6146vw, 23.6904vh);
}
.home section.third-section .section-content {
    position: relative;
    align-items: center;
    gap: min(4.653vw, 4.1875rem);
}
.home section.third-section .section-content h1 {
    text-align: center;
    line-height: 187.5%;
    font-size: max(var(--ts-h1-font-minimum-size), min(2.431vw, 2.1875rem));
    font-weight: 600;
    width: 72.0768%;
}
.home section.third-section .section-content .section-description h2 {
    line-height: 187.5%;
    font-size: max(var(--ts-h2-font-minimum-size), min(2.083vw, 1.875rem));
    font-weight: 600;
}
.home section.third-section .section-content .section-description p {
    width: 100%;
    line-height: 187.5%;
    font-size: max(var(--ts-p-font-minimum-size), min(1.111vw, 1rem));
    font-weight: 400;
}
.home section.third-section .section-content .section-description {
    width: 47.6399%;
    align-self: flex-start;
    gap: min(2.222vw, 2rem);
}
.home section.third-section .section-content .absolute-image {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 51.109%;
    bottom: 13.5969%;
    padding-bottom: 1rem;
}
.home section.third-section .section-content .section-image {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    align-items: end;
}
.section-image #spider-man {
    height: 87.1698%;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.section-image #memphis-image {
    width: 17%;
    position: absolute;
    left: 75%;
    top: 0.8726%;
    z-index: -1;
}

/* ---------------------------------------- */
.home section.forth-section {
    height: max(60.6944vw, 97.1111vh);
    position: relative;
}
.home section.forth-section .section-content {
    flex-wrap: wrap;
    gap: min(6.25rem, 6.944vw);
    width: 100%;
}
.home section.forth-section .section-content .section-text {
    align-items: center;
    gap: min(1.56rem, 1.733vw);
}
.home section.forth-section .section-content h1 {
    font-size: max(var(--frs-h1-font-minimum-size), min(1.875rem, 2.083vw));
    width: min(50rem, 55.556vw);
    line-height: 187.5%;
    text-align: center;
}
.home section.forth-section .section-content span {
    text-align: center;
    font-size: max(var(--frs-span-font-minimum-size), min(1rem, 1.111vw));
    font-weight: 400;
    line-height: 185.5%;
    width: min(51.25rem, 56.944vw);
}
.home section.forth-section .section-content .white-icon {
    background: white;
    width: max(var(--frs-item-minimum-size), min(4.0625rem, 4.514vw));
    height: max(var(--frs-item-minimum-size), min(4.0625rem, 4.514vw));
    border-radius: 9999px;
}
.white-icon img {
    width: min(50%, 2rem);
    height: min(50%, 2rem);
}
.home section.forth-section .section-content .list-item {
    gap: min(1.88rem, 2.089vw);
    align-items: center;
}
.section-content .list-item .item-description {
    gap: min(1.50rem, 1.667vw);
    align-items: center;
}
.list-item .item-description p {
    font-size: max(var(--frs-item-description-minimum-size), min(1rem, 1.111vw));
}
.list-item .item-description img {
    width: max(var(--frs-item-image-minimum-sizeW), min(1.3125rem, 1.458vw));
    height: max(var(--frs-item-image-minimum-sizeH), min(1.125rem, 1.25vw));
}
.background-image {
    position: absolute;
    width: 110vw;
    height: max(60.6944vw, 97.1111vh);
    top: 0;
    left: -12vw;
    background-image: url("../../assets/images/dark-background.png");
    background-size: cover;
    background-position: center left;
    z-index: -1;
}
@media only screen and (min-width: 1720px) and (max-width: 1920px) {
    .background-image {
        width: 120vw;
        left: -20vw;
    }
}

/* ---------------------------------- */
.home section.fifth-section {
    padding-top: 9.25rem;
    padding-bottom: 6.5625rem;
}
.home section.fifth-section .section-center {
    width: 100%;
    gap: 4.5rem;
}
.home section.fifth-section .section-header {
    align-items: center;
    text-align: center;
    width: 42.8071%;
}
.home section.fifth-section .section-header h1 {
    font-size: max(var(--ffs-h1-font-minimum-size), min(1.875rem, 2.083vw));
    font-weight: bold;
    line-height: 187.5%;
}
.home section.fifth-section .section-header span {
    font-size: max(var(--ffs-span-font-minimum-size), min(0.875rem, 0.972vw));
    font-weight: 400;
    line-height: 187.5%;
    width: 100%;
}
.home section.fifth-section .section-content {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
.home section.fifth-section .section-content .wrapper {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

/* ---------------------------- */
.home section.sixth-section .section-content {
    width: 100%;
    gap: max(4rem, min(4.625rem, 5.139vw));
    padding-bottom: 10.1875rem;
}
.home section.sixth-section .section-content .section-header {
    gap: 2rem;
    width: 46.6598%;
}
.home section.sixth-section .section-content .section-header h2 {
    width: fit-content;
    font-size: 30px;
    line-height: 187.5%;
    font-weight: 600;
}
.home section.sixth-section .section-content .section-header span {
    width: 100%;
    font-size: 1rem;
    line-height: 187.5%;
    font-weight: 400;
}