* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    color: var(--text-default-color);
    font-family: var(--font-family-default);
    background: var(--background-gradient-color);
    overflow-x: hidden;
}

a {
    color: var(--text-default-color);
    text-decoration: none;
}

li {
    list-style: none;
}

/* Example of Grid
[full-width-start] minmax(0,var(--padding-inline)) 
[full-width-padding-start] minmax(0,1fr) 
[content-start] min(100% - var(--padding-inline) * 2,var(--content-max-width)) 
[content-end] minmax(0,1fr) 
[full-width-padding-end] minmax(0,var(--padding-inline)) [full-width-end] 
*/
#app {
    --content-max-width: 1325px;
    --padding-top: 2.25rem;
    --padding-inline: 3.438rem;
    padding-top: var(--padding-top);

    justify-content: space-between;
    column-gap: 0;
    row-gap: 0;

    grid-template-rows: 
        [row-start] auto
        [padding-row] minmax(0, 7.81rem)
        [row-content] 1fr
        [row-end] auto; 
    
    margin: 0 auto;
    min-width: 100vw;
    min-height: 100vh;
}

.content-grid {
    display: grid;
    grid-template-columns:
        [column-padding-start] minmax(0, var(--padding-inline))
        [column-content] minmax(0, var(--content-max-width))
        [column-padding-end] minmax(0, var(--padding-inline));
}

.absolute {
    position: absolute;
    left: 41%;
    top: -250px;
    pointer-events: none;
    z-index: -1;
}

main {
    width: 100%;
    height: 100%;
    grid-column-start: column-content;
    grid-row-start: row-content;
}

.section-grid {
    --main-content-max-width: 1147px;
    --main-padding-inline: calc(9.188rem - var(--padding-inline));

    display: grid;  
    grid-template-rows:
        [section-content] auto;

    grid-template-columns: 
        [main-column-padding-start] minmax(0, var(--main-padding-inline))
        [main-content] minmax(0, var(--main-content-max-width))
        [main-column-padding-end] minmax(0, var(--main-padding-inline));
}

.grid-center {
    grid-column-start: main-content;
    grid-row-start: section-content;
}

footer {
    grid-column-start: column-content;
    grid-row-start: row-end;
}

section.first-section {
    position: relative;
    height: fit-content;
    padding-bottom: 11.25rem;
}

section .section-left {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 3.125rem;
    width: fit-content;
    height: 100%;
}

section .section-left .section-text {
    display: flex;
    flex-direction: column;
    gap: 1.625rem;
    width: fit-content;
}

.section-text .section-title {
    display: flex;
    flex-direction: column;
    line-height: 155.2%;
    gap: 1.063rem;
    width: fit-content;
}


section .section-left h1 {
    width: 25.313rem;
    font-size: 3.125rem;
    line-height: 155.2%;
}

section .section-left h2 {
    font-size: 20px;
    color: var(--text-secondary-color);
    -webkit-text-stroke: 1px black;
}

section .section-left span {
    font-weight: 500;
    font-size: 1rem;
    line-height: 200%;
    width: 32.938rem;
}

section.second-section {
    grid-column-start: main-content;
    grid-row-start: main-second-section;
    font-family: var(--font-family-secondary);
    padding-bottom: 8rem;
}

section.second-section .section-center {
    gap: 3.563rem;
}

.section-center .section-header {
    justify-content: space-between;
}

.section-header h1 {
    font-size: 1.938rem;
    line-height: 187.5%;
}

.section-list {
    justify-content: space-between;
}

main section.third-section .section-center {
    align-items: center;
    justify-content: center;
    gap: 4.5rem;
}

.third-section .section-header {
    align-items: center;
    text-align: center;
}

.third-section .section-header h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 187.5%;
}

.third-section .section-header span {
    font-size: 14px;
    font-weight: 400;
    line-height: 187.5%;
    width: 500px;
}

.third-section .section-content {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.third-section .section-content div {
    gap: 1.6875rem;
}

main section.forth-section {
    position: relative;
    height: 874px;
    width: 100%;
}

.forth-section .section-content {
    flex-wrap: wrap;
    gap: 6.25rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.forth-section .section-content .section-text {
    align-items: center;
    gap: 1.56rem;
}

.forth-section .section-content h1 {
    font-size: 30px;
    width: 800px;
    line-height: 187.5%;
    text-align: center;
}

.forth-section .section-content span {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 185.5%;
    width: 820px;
}

.forth-section .section-content .white-icon {
    align-items: center;
    justify-content: center;

    background: white;
    width: 65px;
    height: 65px;
    border-radius: 9999px;
}

.forth-section .section-content .list-item {
    gap: 1.88rem;
    align-items: center;
}

.section-content .list-item .item-description {
    gap: 1.50rem;
    align-items: center;
}

.list-item .item-description img {
    width: 21px;
    height: 18px;
}

.background-image {
    position: absolute;
    width: 110vw;
    height: 874px;
    top: 0;
    left: -12vw;
    background-image: url("../../assets/images/dark-background.png");
    background-size: cover;
    background-position: center left;
    object-fit: cover;
    z-index: -1;
}

@media only screen and (min-width: 1920px) {
    .background-image {
        width: 130vw;
        left: -25vw;
    }
}

@media only screen and (min-width: 1720px) and (max-width: 1920px) {
    .background-image {
        width: 120vw;
        left: -20vw;
    }
}