button {
    font-family: var(--font-family-primary);
    color: var(--text-default-color);
    cursor: pointer;
    width: fit-content;
}

.squared-button {
    font-size: 13px;
    background-color: var(--button-background-color);
    border-style: none;
    padding: 0.625rem 1.688rem;
    border-radius: 6px;
}

.squared-button:hover {
    border-style: solid;
    filter: brightness(0.95);
    border-width: .2px;
    border-color: var(--text-default-color);
    transition: .5s ease;
}

.squared-button:disabled {
    opacity: .3;
    pointer-events: none;
    cursor: default;
}

.rounded-button {
    padding: 0.875rem 1.825rem;
    background: linear-gradient(-89deg, #FA8305, #FB9E3C);
    border-style: none;
    font-size: 16px;
    border-radius: 5rem;
    transform: .5s ease;
}

.rounded-button:hover {
    border-style: solid;
    border-color: var(--text-default-color);
    filter: brightness(.95);
    border-width: .2px;
    transition: .5s ease;
}

.blue-button {
    border-style: none;
    border-radius: 6px;
    
    font-size: 16px;
    font-family: var(--font-family-secondary);
    font-weight: 500;
    text-transform: uppercase;

    background-color: rgba(255, 255, 255, 0.11);

    padding: .625rem 1.875rem;
    transition: .5s ease;
}

.blue-button:hover {
    border-style: solid;
    border-color: white;
    font-weight: bold;
    transition: .5s ease;
}
.form-button {
    margin-top: 1.9375rem;
    width: 193px;
    height: 56px;
    background-color: var(--button-background-color);
    color: white;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    align-self: end;
}
.form-button:disabled {
    cursor: default;
    pointer-events: none;
    opacity: .3;
}
.form-button:hover {
    border-style: solid;
    border-color: white;
    font-weight: bold;
    transition: .5s ease;
}