.squared-button {
    cursor: pointer;
    font-size: 13px;
    background-color: var(--button-background-color);
    border-style: none;
    padding: 1rem 2rem;
    border-radius: 6px;
}

.squared-button:hover {
    border-style: solid;
    filter: brightness(0.95);
    border-width: .2px;
    border-color: var(--text-default-color);
    transition: .5s ease;
}

.rounded-button {
    padding: .55rem 2rem;
    background: linear-gradient(-89deg, #FA8305, #FB9E3C);
    border-style: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5rem;
    width: fit-content;
}

.rounded-button:hover {
    border-style: solid;
    border-color: var(--text-default-color);
    filter: brightness(.95);
    border-width: .2px;
    transition: .5 ease;
}