.navbar {
    display: flex;
    padding: 3rem 3.5rem 0 3rem;
    width: 100%;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
}

.navbar-itens {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navbar-itens ul {
    font-size: 16px;
    font-weight: normal;
    gap: 5rem;
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar-itens ul li:hover a:hover {
    background-color: var(--text-tertiary-color);
    border-radius: 1rem;
    border-width: 2rem;
    border-color: var(--text-default-color);
    padding: 0 .5rem;
    font-weight: 600;
    transition: .5s ease;
}

.logo {
    font-weight: bolder;
    font-size: 29px;
}

.logo:hover {
    color: var(--text-secondary-color);
    transition: .5s ease;
}