form input, form textarea {
    width: 100%;
    font-family: var(--font-family-default);
    height: 3.5rem;
    border-radius: 9px;
    color: var(--text-default-color);
    border: 0.8px solid #cecece;
    outline: none;
    background-color: rgba(255, 255, 255, 0.07);
    padding: 10px;
}
form textarea {
    height: 232px;
    color: var(--text-default-color);
    resize: none;
}
form label {
    font-size: .875rem;
    color: #4f4f4f;
}
form input:focus, form textarea:focus {
    border: 1.5px solid white;
    background-color: rgba(20, 20, 20, .2);
}
form input.success, form textarea.success {
    border: 2.5px solid greenyellow;
    background-color: rgb(48, 59, 30);
    transition: .5s ease;
}
form input.error, form textarea.error {
    border: 2.5px solid rgb(230, 0, 0);
    background-color: #643c33;
    transition: .5s ease;
}