:root {
    --background-gradient-color: linear-gradient(to bottom, #39289F, #422F9C);
    --text-default-color: white;
    --text-secondary-color: #FA9021;
    --text-tertiary-color: #22185c;
    
    --button-background-color: #FA9021;
    --button-background-darker-color: #DC7000
    --button-gradient-color: linear-gradient(-89deg, #FA8305, #FB9E3C);

    --font-family-default: 'Poppins', sans-serif;
    --font-family-secondary: 'Rubik'
}